{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "useBuiltIns": "entry",
                "corejs": 3
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}